@font-face {
    font-family: 'HankenGrotesk';
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'HankenGrotesk';
    src: url(./assets/fonts/static/HankenGrotesk-Bold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'HankenGrotesk';
    src: url(./assets/fonts/static/HankenGrotesk-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: 'HankenGrotesk';
    src: url(./assets/fonts/static/HankenGrotesk-Medium.ttf);
    font-weight: 500;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'HankenGrotesk';
}

:root {
    --color-primary: #6643ff;
    --color-secondary: #3327eb;
    --background-color: #fdfffe;
    --color-text-primary: white;
    --color-text-secondary: #cbcbff;
    --color-reaction: #f55250;
    --color-memory: #ffba31;
    --color-verbal: #3cdaaa;
    --color-visual: #1921c4;
}

body {
    background-color: var(--background-color);
}

main {
    background-color:var(--color-text-primary);
    width: 34rem;
    border-radius: 30px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
    margin: 3rem auto;
    display: grid;
    grid-template-columns: 17rem 17rem;
}

.pontuacao-geral {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 2rem;
    background: linear-gradient(var(--color-primary), var(--color-secondary));
    border-radius: 30px;
}

.pontuacao-geral h1 {
    color: var(--color-text-secondary);
    font-size: 20px;
}

.pontuacao-geral p {
    color: var(--color-text-secondary);
}

.border-score {
    margin: 1rem auto;
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    background: linear-gradient(#4f24cb, #4734f0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.border-score h2 {
    color: var(--color-text-primary);
    font-size: 76px;
}

.pontuacao-geral h3 {
    font-size: 24px;
    color: var(--color-text-primary);
}

.pontuacao-detalhada {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    width: 14rem;
}

.pontuacao-detalhada h2 {
    font-size: 20px;
}

.reaction {
    background-color: rgba(245, 82, 80, .1);
}

.memory {
    background-color: rgba(255, 186, 49, .1);
}

.verbal {
    background-color: rgba(60, 218, 170, .1);
}

.visual {
    background-color: rgba(25, 33, 196, .1);
}

.pontuacao-detalhada article, .t-detalhada, .detalhada {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem .25rem .25rem .25rem;
    border-radius: 7px;
    margin-bottom: .5rem;
}

.reaction h4 {
    color: var(--color-reaction);
    margin-left: .2rem;
}

.memory h4 {
    color: var(--color-memory);
    margin-left: .2rem;
}

.verbal h4 {
    color: var(--color-verbal);
    margin-left: .2rem;
}

.visual h4 {
    color: var(--color-visual);
    margin-left: .2rem;
}

.sum-pontuacao {
    margin-right: .4rem;
    font-weight: 600;
}

.por-cem {
    color: var(--color-text-secondary);
    font-weight: 600;
}

.botao {
    width: 14rem;
    height: 2.5rem;
    color: var(--color-text-primary);
    border: 0;
    border-radius: 1.25rem;
    background: linear-gradient(#303753, #2e3758);
    cursor: pointer;
}

.botao:hover {
    background: linear-gradient(var(--color-primary), var(--color-secondary));
}

.attribution { 
    font-size: 11px;
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}

/* Responsividade */

@media screen and (max-width: 768px){
    main {
        display: flex;
        flex-direction: column;
    }

    .pontuacao-geral h1, .pontuacao-geral h3, .pontuacao-detalhada h2 {
        font-size: 32px;
    }

    .border-score {
        width: 15rem;
        height: 15rem;
        border-radius: 7.5rem;
    }

    .border-score h2 {
        font-size: 86px;
    }

    .pontuacao-geral p, .pontuacao-detalhada article {
        font-size: 28px;
    }

    .pontuacao-detalhada {
        width: 31rem;
    }

    .pontuacao-detalhada article, .t-detalhada, .detalhada {
        padding: .5rem .5rem .25rem .5rem;
    }

    .pontuacao-detalhada article {
        margin-bottom: 1rem;
    }

    .botao {
        width: 31rem;
        height: 4rem;
        border-radius: 2rem;
        font-size: 28px;
    }

    .attribution {
        font-size: 24px;
        text-align: center;
    }
}

/* Utilitários */

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}