@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

:root {
    --Very-dark-desaturade-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    --light-grayish-blue: hsl(240, 5%, 91%);
}

body {
    background: linear-gradient(var(--soft-violet), var(--soft-blue));
    width: 100vw;
    height: 100%;
    font-size: 12px;
}

.container {
    background: white;
    width: 900px;
    margin: 15vh auto;
    display: flex;
    align-self: center;
    border-radius: 25px;
    box-shadow: 2px 2px 25px hsl(237, 12%, 33%, .5);
}

.imagens {
    width: 650px;
    min-height: 550px;
    margin-right: 3rem;
    background: url('./images/illustration-woman-online-desktop.svg') top 90px left -78px no-repeat, url('./images/bg-pattern-desktop.svg')  top -235px left -571px no-repeat;
}

.img-desk {
    position: relative;
    bottom: -210px;
    left: -125px;
}

.img-mobile {
    visibility: hidden;
}

.faqs h1 {
    font-size: 32px;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.faq {
    cursor: pointer;
}

.inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 3rem;
}

.pergunta {
    text-decoration: none;
    color: var(--dark-grayish-blue);
    font-size: 16px;
    font-weight: 400;
}

.pergunta:hover {
    color: var(--soft-red);
}

.resposta {
    visibility: hidden;
    color: var(--dark-grayish-blue);
    max-height: 0;
    margin: 1rem 3rem 1rem 0rem;
}

article hr {
    margin: 0 3rem 1.6rem 0;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.faq.active .pergunta {
    color: var(--Very-dark-desaturade-blue);
    font-weight: 700;
}

.faq.active .inline img {
    transform: rotate(180deg);
}

.faq.active .resposta {
    visibility: visible;
    max-height: 300px;
}

@media screen and (max-width: 902px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-top: 300px;
        align-items: center;
    }

    .imagens {
        background: url('./images/bg-pattern-mobile.svg') no-repeat;
        background-size: 100%;
        max-width: 80%;
        margin-right: 0;
    }

    .img-desk {
        visibility: hidden;
    }

    .img-mobile {
        visibility: visible;
        max-width: 100%;
        margin-top: -450px;
    }

    .faqs {
        margin-top: -400px;
        margin-left: 3rem;
    }
}