@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

:root {
    --Very-dark-desaturade-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    --light-grayish-blue: hsl(240, 5%, 91%);
}

body {
    background: linear-gradient(var(--soft-violet), var(--soft-blue));
    width: 100vw;
    height: 100vh;
    font-size: 12px;
}

.container {
    background: white;
    width: 900px;
    margin: 15vh auto;
    display: flex;
    align-self: center;
    border-radius: 25px;
    box-shadow: 2px 2px 25px hsl(237, 12%, 33%, .5);
}

.imagens {
    width: 650px;
    height: 550px;
    margin-right: 3rem;
    background: url('./images/illustration-woman-online-desktop.svg') bottom 106px left -78px no-repeat, url('./images/bg-pattern-desktop.svg')  bottom -135px left -571px no-repeat;
}

.imagens img {
    position: relative;
    top: 204px;
    left: -125px;
}

.faq h1 {
    font-size: 32px;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 3rem;
}

.pergunta {
    text-decoration: none;
    color: var(--dark-grayish-blue);
    font-size: 16px;
    font-weight: 400;
}

.pergunta:hover {
    color: var(--soft-red);
}

.pergunta:active {
    color: var(--Very-dark-desaturade-blue);
    font-weight: 700;
}

.resposta {
    visibility: hidden;
    color: var(--dark-grayish-blue);
    margin-right: 3rem;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}